name: Docker Build
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 4"

jobs:
  push_to_registries:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gcc-version:
          - latest
          - 10.3-2021.10
          - 10-2020q4
          - 9-2019q4
          - 8-2018q4
          - 7-2017q4
          - 6-2016q4
        ubuntu-version:
          - latest
          - focal
      fail-fast: false
    env:
      GCC_VERSION: ${{ matrix.gcc-version }}
      UBUNTU_VERSION: ${{ matrix.ubuntu-version }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Create build args
        id: build_args
        run: |
          ARCHI=x86_64-linux
          DIR=$GCC_VERSION
          case $GCC_VERSION in
            "6-2016q4" )     FILE="gcc-arm-none-eabi-6_2-2016q4-20161216"; OUTFILE="gcc-arm-none-eabi-6_2-2016q4" ARCHI=linux ;;
            "7-2017q4" )     FILE="gcc-arm-none-eabi-7-2017-q4-major"; ARCHI=linux ;;
            "8-2018q4" )     FILE="gcc-arm-none-eabi-8-2018-q4-major"; ARCHI=linux ;;
            "9-2019q4" )     FILE="gcc-arm-none-eabi-9-2019-q4-major" ;;
            "10-2020q4" )    FILE="gcc-arm-none-eabi-10-2020-q4-major" ;;
            "10.3-2021.10" ) FILE="gcc-arm-none-eabi-10.3-2021.10" ;;
            "latest" )       FILE="gcc-arm-none-eabi-10.3-2021.10" DIR="10.3-2021.10" ;;
            * ) exit 1 ;;
          esac
          echo "ARCHI=${ARCHI}" >> "${GITHUB_OUTPUT}"
          echo "DIR=${DIR}" >> "${GITHUB_OUTPUT}"
          echo "FILE=${FILE}" >> "${GITHUB_OUTPUT}"
          if [ -z "${OUTFILE}" ]; then
              OUTFILE=$FILE
          fi
          echo "OUTFILE=${OUTFILE}" >> "${GITHUB_OUTPUT}"
      - name: Create build args
        id: create_tagname
        run: |
          if [ "$UBUNTU_VERSION" = "latest" ]; then
            echo "tagname=${GCC_VERSION}" >> "${GITHUB_OUTPUT}"
          else
            echo "tagname=${UBUNTU_VERSION}-${GCC_VERSION}" >> "${GITHUB_OUTPUT}"
          fi
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v3
        with:
          build-args: |
            UBUNTU_VERSION=${{ matrix.ubuntu-version }}
            ARCHI=${{ steps.build_args.outputs.ARCHI }}
            DIR=${{ steps.build_args.outputs.DIR }}
            FILE=${{ steps.build_args.outputs.FILE }}
            OUTFILE=${{ steps.build_args.outputs.OUTFILE }}
          push: true
          tags: srzzumix/arm-none-eabi:${{ steps.create_tagname.outputs.tagname }}
      - name: Push to version tag
        env:
          IMAGE_NAME: srzzumix/arm-none-eabi:${{ steps.create_tagname.outputs.tagname }}
          DOCKER_REPO: srzzumix/arm-none-eabi
        run: |
          ./hooks/post_push
